<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Personal website</title>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="style.css" />


</head>

<body>

<div class="list">




</div>



<form action="/main" method='post'>

  <input type="radio" name="satisfaction_level" value="1"> satisfaction level<br>
  <input type="radio" name="last_evaluation" value="1"> last evaluation<br>
  <input type="radio" name="number_project" value="1"> number of projects assigned<br>
  <input type="radio" name="average_montly_hours" value="1"> average number of hours worked<br>
  <input type="radio" name="Work_accident" value="1"> work related accident <br>
  <input type="radio" name="time_spend_company" value="1"> time spent with the company <br>
  <input type="radio" name="left" value="1" > left <br>
  <input type="radio" name="promotion_last_5years" value="1"> promotion last 5 years<br>
  <input type="radio" name="salary" value="1"> salary level <br>
   startRows
  <input type="text"  name="startRows"><br>
  finishRows
  <input type="text"  name="finishRows"><br>


<input type="submit" value="Submit">





  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>




</body>
</html>
